body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
header {
    background-color:#083c94;
    color: white;
    padding: 10px 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
header a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

header .logo{
    font-size: 24px;
    font-weight: bold;
}

header .controls select{
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.search-selection {
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: white;
}

.search-bar {
    display: flex;
    background-color: #feb600;
    border-radius: 5px;
    padding: 5px; 
    width: 95%;
    max-width: 1200px;
}

.search-bar input, .search-bar select, .search-bar button {
    padding: 10px;
    margin: 0 5px;
    border: 1px solid white;
    border-radius: 5px;
    flex: 1;
}

.search-bar input[type="date"] {
    flex: 1.2;
}

.search-bar button {
    flex: 1.5;
}

.search-bar button {
    background-color: #0071c2;
    color: white;
    border: none;
    cursor: pointer;
    flex: 0.5;
  }

  .search-bar button:hover {
    background-color: #005999;
  }

  footer {
    background-color: #083c94;
    color: white;
    text-align: center;
    padding: 10px 20px;
    font-size: 14px;
  }